html {
	scroll-behavior: smooth;
}

body {

}

#mynav {
	width: 100%;
	top: 0;
	transition: 0.2s;
	z-index: 99;
	font-size: 20px;
	background: green;
}

ul>li {
	padding-left: 20px;
}

a {
	text-decoration: none;
}

a.active {
	font-weight: bold;
	background-color: rgba(136,136,136,0.8);
	border-radius: 10px;
}

#logo {
	margin-left: 30px;
	width: 70px;
	height: 70px;
	transition: 0.2s;
}

.nav {
	margin-left: 20px;
}

#home {
	padding-top: 90px;
}
#about {
	padding: 110px 20px 5px;
}

#contact {
	background: rgba(102, 153, 255, 0.5);
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 90px;
}

.hi {
	margin-top: 40px;
}

#about {
	height: auto;
	background: rgb(245,245,245);
}

#services {
	padding-top: 90px;
	padding-bottom: 60px;
}

#blog {
	padding-bottom: 60px;
	position: relative;
	padding-top: 90px;
}

#blog::before {    
	content: "";
	background-image: url("images/blogbg.jpg");
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.75;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.mysite:before {
	display: none;
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
	background: rgba(0, 0, 0, 0.6);
	content: "";
	position: absolute;
	z-index: 2000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden; 
}

#myslide {
	background-size: cover;
	position: relative;
	width: 100%;
	height: 800px;
}

.carousel-indicators li {
	width: 30px;
	height: 30px;
	font-size: 20px;
}

.carousel-caption {
	background-color: rgba(136,136,136,0.3);
}

.caption {
	font-weight: bolder;
	font-size: 50px;
}

.desc {
	font-size:18px;
}

.banner {
	box-shadow: 5px 10px 10px rgba(136,136,136,0.7);
	height: 100%;
	width: 100%;
}

.dir-banner {
	box-shadow: 5px 10px 10px rgba(136,136,136,0.7);
	height: 60%;
	width: 60%;
	margin-left: 100px;	
}

.caption-au {
	font-size: 12px;
	text-transform: uppercase;
	color: #5577B4;
	letter-spacing: .2rem;
	font-weight: 900;
}

.about-desc {
	margin-left: 50px;
}

@font-face {
	font-family: myFont;
	src: url("css/DancingScript-Bold.ttf");
}

.tagline {
	font-size: 36px;
	color: #4040a1;
	font-family: myFont;
	font-weight: bold;
	margin-bottom: -50px;
	margin-top: 10px;
}

.line {
	height: 2px;
	font-size: 50px;
	color: #5577B4;
}

#year, #no {
	font-size: 36px;
	margin-bottom: -5px;
}

.container-company {
	margin-bottom: 40px;
}

.container-director {
	margin-top: 20px;
	margin-bottom: 40px;
}

.stats-desc {
	font-size: 18px;
	color: rgba(0,0,0,0.6);
}

.stats {
	text-align: center;
	margin-bottom: 15px;
}

.photo {
	height: 80px;
	width: 80px;
	top: 10px;
	right: 10px;
	display: none;
	border-radius: 50%;
}

.con {
	margin-top: 40px;
}

.myname {
	font-size: 30px;
	font-family: myFont;
}

.director {
	color: rgb(100,100,100);
}

#services {
	background: linear-gradient(to right, #0099ff 0%, #BEBEBE 100%);
}

.address {
	margin-bottom: 10px;
}

.address i {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 30px;
}

.num {
	padding-top: 10px;
}

.column {
	float: left;
	width: 25%;
	padding: 10px 10px;
}

.row {
	margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cat-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 450px;
}

.cat-card button {
	width: 100%;
}

.blog-card {
	height: 100px;
	margin-top: 25%;
	
}

.card-title {
	margin-top: 20px;
}

.for-more {
	margin-top: 20px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
}

.flex-container .card {
	height: auto;
	margin-bottom: 15px;
}

.blog-card1 {
	font-size: 40px;
	background-color: rgba(136,136,136,0.8);
	height: auto;
	width: auto;
	margin: 25%;
}

#services .header {
	color: white;
	padding-bottom: 50px;
}

.client {
	padding-top: 30px;
}

.cli-col {
	padding-top: 50px;
	text-align: center;
}

.img-client {
	width: 70px;
	height: 70px;
}

#blogit .header {
	color: white;	
}

#blog-body {
	background: rgba(102, 153, 255, 0.5);
}

.mail {
	padding-top: 20px;
}

.fab {
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	margin: 25px 3px;
	border-radius: 50%;
}

.fa-facebook-f:hover {
	background-color: white;
	text-decoration: none;
	color: #3B5998;
}

.fa-facebook-f {
	color: white;
	background-color: #3B5998;
	background: #3B5998;
	text-decoration: none;
}

.fa-instagram {
	background: linear-gradient(to bottom right, #0000ff -40%, #ff0000 100%);
	color: white;
	text-decoration: none;
}

.fa-instagram:hover {
	background: white;
	color: linear-gradient(to bottom right, #0000ff -40%, #ff0000 100%);
	text-decoration: none;
}

#social {
	height: 90px;
	transition: 0.5s;
	margin-top: -20px;
}

#star {
	color: red;
}

.open-chat {
	width: 60px;
	height: 60px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background: linear-gradient(to left, #66ff99 0%, #0066ff 100%);
	padding: 5px;
	border: none;
	position: fixed;
	bottom: 40px;
	right: 40px;
	border-radius: 50%;
}

.fa-envelope {
	color: black;
	font-size: 20px;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 99;
	background: linear-gradient(to left, #66ff99 0%, #0066ff 100%);
	align-items: center;
	border-radius: 15px;
}

.chat-container {
	max-width: 300px;
	padding: 12px;
}

form>h1 {
	text-align: center;
}

.buttons {
	padding-top: -10px;
	text-align: center;

}

.btn-success {
	margin-right: 50px;
}

footer {
	font-size: 10px;
	font-family: cursive;
	color: black;
	padding-left: 30%;
	margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
	.open-chat {
		width: 50px;
		height: 50px;
	}
	.fa-envelope {
		font-size: 18px;
	}
	.caption {
		font-weight: bolder;
		font-size: 30px;
	}

	.desc {
		display: none;
	}
	#myslide {
		height: 80%;
	}
	.more {
		top: 50%;
	}
	.ban {
		display: none;
	}
	.photo {
		display: block;
	}
	.container-company {
		margin-bottom: 30px;
	}
	.carousel-caption {
		background: none;
	}
	.dir-banner {
		display: none;
	}
	#about {
		padding-top: 80px;
	}
	.blog-card1 {
		font-size: 20px;
		margin: 25%;
	}
	.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
  	}
}
